.eventCategoryList{
    border:.15em solid #333;
}

.createEvent{
    position: absolute;
    right: 10px;
}

.createEventImg{
    height: 30px;
    margin-left: 10px;
    width: 30px;
    right: 10px;
    border-radius: 100%;
    box-shadow: none;
    transition: box-shadow 0.1s ease-out 50ms;
}
.createEventImg:hover{
    box-shadow: .03rem .03rem 6px rgba(3, 56, 136,.2);
    transition: box-shadow 0.1s ease-in 50ms;

}
.listContainer{
    margin-top: 5px;
    display: flex;
     height: 50px;
    overflow-x: hidden;
    transition: overflow-x 1s ease-in;
}

.listContainer:hover{
    overflow-x: auto;
}
.eventPage{
    position: relative;
}
.searchBoxMine{
     border-radius: 2rem!important;
     background-color: rgba(255, 255, 255, 0.6);
}
.categoryContainer{
    margin-top: 20px;
}

.filterEvents{
    box-shadow: 0px 0px 9px rgb(255,255,255/70%);
}
::-webkit-scrollbar {
  width: 3px;
  height: 7px;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f141; 
}
 
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.466); 
}
.form-control{
    background-color: rgba(255, 255, 255, 0.6)!important;
}
.form-control:focus{
    box-shadow:none;
    border:1px solid black
}