

.createEventForm{
    background-color: #E4CDA7;
    display: flex ;
    padding-left : 90px;
  padding-right : 90px;
}

.formEvent{
      width: 100%;
      padding-bottom: 20px;
}
.form-label{
   color: #302207;
}
.form-control,.form-select{
    background-color:#fdeaf5 ;
     border: .10em solid #472f07;
     color: black;
}
.form-control:active{
    background-color:#f10aa0!important ;
     border: .10em solid #472f07;
 
}
.editButton{
   display: flex ;
  color: #eeeae2;
  background-color: #472f07!important;
  border: .10em solid #472f07;
  margin-left: auto;
  margin-right: auto;
  padding-left : 60px;
  padding-right : 60px;

}