

.createEventForm{
    background-color: rgba(39, 101, 245, 0.12);
    display: flex ;
    flex-direction: column;
    margin-top: 20px;
    padding: 0;
    border-radius: 15px;
  
    margin-bottom: 20px;
    
}

/* h2{
  background-color: #186697 ;
  color: #ffffff;
  border-radius: 15px 15px 0px 0px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-top: 10px;
  


} */

.formEvent{
      width: 100%;
      padding-bottom: 20px;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 20px;
}
.form-label{
   color: #04203b;
   font-weight:500;
   font-size:20px;
}
.form-control,.form-select{
    background-color:#ebeef0 ;
     border: .10em solid #472f07;
     color: black;
}
.editButton{
   display: flex ;
  color: #eeeae2;
  background-color: #472f07!important;
  border: .10em solid #472f07;
  margin-left: auto;
  margin-right: auto;
  padding-left : 60px;
  padding-right : 60px;

}