.eventCardBody{
    margin: 20px 0;
    padding: 10px 5px 10px 5px;
    border-radius:10px;
    background-color: rgba(255, 255, 255, 0.363);
    word-break: break-word;

}
.eventCardImage{
    width: 100%;
    max-height: 500px;
    object-fit: scale-down;
}
.whiteHr{
    opacity: 100;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 30px;
    margin-right: 30px;
}