*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif, 'Merienda', cursive, 'Courgette';
    font-weight: 800;
}
html {
    scroll-behavior: smooth;
}

#root {
    min-height: 100vh;
    background: rgb(0,179,204);
background: linear-gradient(275deg, rgba(0,179,204,0.4709205198823736) 0%, rgba(255,255,255,1) 100%);
}

a{
    text-decoration: none;
}

.navbar span{
    color: white;
}
.navbar a{
    color: gray;
}

.navbar a.active{
    color: rgb(102, 102, 102);
}
.navbar-nav a{
    margin: 0 5px;
}