*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif, 'Merienda', cursive, 'Courgette';
    font-weight: 800;
}
html {
    scroll-behavior: smooth;

}

#root {
    min-height: 100vh;
    /* background-color: #0094e90c;
    background-image: linear-gradient(90deg, #0094e9ab 0%, #80d0c7 100%); */
    background-color: #0094e918;
    background-image: linear-gradient(90deg, #80d0c715 0%,#80d0c715 25%,#80d0c73b 50%, #80d0c73b 100%);

}

a{
    text-decoration: none;
}

.navbar span{
    color: white;
}
.navbar a{
    color: gray;
}

.navbar a.active{
    color: rgb(102, 102, 102);
}
.navbar-nav a{
    margin: 0 5px;
}

button:focus{
    box-shadow: none!important;
}