*{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif, 'Merienda', cursive, 'Courgette';
}
#root {
    min-height: 100vh;
}

a{
    text-decoration: none;
}

.navbar span{
    color: white;
}
.navbar a{
    color: gray;
}

.navbar a.active{
    color: rgb(102, 102, 102);
}
.navbar-nav a{
    margin: 0 5px;
}